docker/
coverage/
node_modules/

**/*.pdf
**/*.txt
.env.test
.gitignore
.huskyrc.json
.editorconfig
.lintstagedrc.json

nodemon.json
jest.config.js
package-lock.json

Dockerfile
docker-compose.yml
docker-compose.dev.yml
